<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="openssl.light" />
    <package id="colortool" />
    <package id="microsoft-windows-terminal" />
    <package id="7zip" />
    <package id="lxrunoffline" />
    <package id="boxsync" />
    <package id="google-backup-and-sync" />
    <package id="autohotkey" />
    <package id="keepassxc" />
    <package id="mactype" />
    <package id="notepadplusplus" />
    <package id="Firefox" />
    <package id="chromium" />
    <package id="wsl" />
    <package id="git" />
    <package id="git-credential-manager-for-windows" />
    <package id="winscp" />
    <package id="docker-for-windows" />
    <package id="docker-compose" />
    <package id="python" />
    <package id="ruby" />
    <package id="typescript" />
    <package id="nodejs" />
    <package id="mingw" />
    <package id="wget" />
    <package id="curl" />
    <package id="anaconda3" />
    <package id="pandoc" />
    <package id="doxygen" />
    <package id="Yeoman" />
    <package id="yo" />
    <package id="vscode" />
    <package id="SourceTree" />
    <package id="awscli" />
    <package id="azure-cli" />
    <package id="foxitreader" />
    <package id="pdfcreator" />
    <package id="irfanview" />
    <package id="rufus" />
    <package id="javaruntime" />
    <package id="freemind" />
    <package id="slack" />
    <package id="discord" />
    <package id="ccleaner" />
</packages>
